.carousel-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    .carousel-arrow {
        height: 300px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .carousel-arrow img{
        width: 40px;
        height: 40px;
    }    
} 

@media screen and (max-width: 768px) {

    .carousel-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0px;
        
        .carousel-arrow img{
            width: 25px;
            height: 20px;
            cursor: pointer;  
        }
    } 
}