<app-carousel-title></app-carousel-title>

<div id="carousel-container">
    <span class="carousel-arrow" (click)="prev()" ><img src="../../../assets/arrow_left.svg" alt=""></span>

    <div *ngFor="let card of displayedCards; let i = index" class="carousel-item">

        <app-carousel-card 
            [image]="card.image" 
            [name]="card.name" 
            [description]="card.description"
        ></app-carousel-card>

    </div>

    <span class="carousel-arrow" (click)="next()"><img src="../../../assets/arrow_right.svg" alt=""></span>

</div>
