.carousel-container{
    width: 100%;
    height: 1000px;
    
    display: flex;
    flex-direction: column;
    align-self: center;

    .title-container {
        display: flex;
        justify-content: center;
        span {
            padding: 20px;
            background-color: #B73139;
            border-radius: 10px;
            font-family: 'Bebas Neue', sans-serif;
            color: aliceblue;
            font-size: 45px;
            text-align: center;
            br {
                display: none;
            }
        }
    }

    .images-carousel-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        // align-items: center;
        // justify-content: center;

        .ngx-carousel  {
            margin-top: 20px;
            // margin-left: 40px;
            .slide {
                // margin: 0 auto;
                // text-align: center;
                img {
                    width: 100%;
                    height: 600px;
                    object-fit: contain;
                }
            }
        }
        
    }

    
} 


@media screen and (max-width: 768px) {
    .carousel-container{
        width: 100%;
        height: 1000px;
        margin: auto;
        align-items: center;

        .title-container {
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            span {
                padding: 20px;
                background-color: #B73139;
                border-radius: 10px;
                font-family: 'Bebas Neue', sans-serif;
                color: aliceblue;
                font-size: 20px;
                text-align: center;

            }
        }
    
        .images-carousel-container {
            width: 95%;
            .ngx-carousel  {
                width: 100%;
                margin-top: 20px;
                .slide {
                    img {
                        width: 100%;
                        height: 600px;
                        object-fit: cover;
                    }
                }
            }
        }
        
    }    
}