#container_footer {
    width: 100%;
    height: 150px;
    background-color: #000000bf;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    gap: 10px;
    position: relative;

    span{
        font-size: 20px;
        color: white;
        margin-bottom: 10px;
    }

    .social_icons_container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        
        .social_button {
            img {
                width: 50px;
            }
        }
        
    }

    .arrow_top_button { /* Adicione esta seção */
        position: absolute;
        right: 100px;
        
        .arrow_top_image {
            width: 40px;
        }
    }   
}





@media screen and (max-width: 768px) {

    #container_footer {
        width: 100%;
        height: 150px;
        background-color: #000000bf;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        gap: 10px;
    position: relative;

    
        span{
            color: white;
            margin-bottom: 10px;
        }
    
        .social_icons_container {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            
            .social_button {
                img {
                    width: 40px;
                }
            }
        }

        .arrow_top_button { /* Adicione esta seção */
            position: absolute;
            right: 25px;
            
            .arrow_top_image {
                width: 32px;
            }
        }
    }
}