<div id="container_footer">

    <span>© LUTEM - LIGA UBERABENSE DE TENIS DE MESA</span>
    <div class="social_icons_container">

        <a
        class="social_button"
        href="https://wa.me//5534999717775?text=Ol%C3%A1%2C%20gostaria%20de%20mais%20detalhes%20para%20fazer%20uma%20aula%20experimental!" 
        target="_blank">
            <img src="../../../assets/whatsapp_icon.svg">
        </a>

        <a 
        class="social_button"
        href="https://www.instagram.com/lutem.ura/" 
        target="_blank">
        <img src="../../../assets/instagram_icon.svg">

        </a>

        <a class="arrow_top_button" href="#container-menu-bar">
            <img class="arrow_top_image" src="../../../assets/arrow_top.svg">
        </a>
    </div>

</div>
