#location-container {

    display: flex;
    width: 100%;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 20px;

    .location-informations-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 650px;
        width: 100%;
        gap: 30px;
        // border: 1px solid red;


        .left-container {
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: end;

            .location-informations {
                display: flex;
                height: 100%;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 7px;
                color: rgb(229, 230, 231);
                background-color: rgba(0, 0, 0, 0.4823529412);
                border-radius: 3px;
                
                span {
                    font-size: 30px;
                    color: aliceblue;
                    margin-top: 8px;
                }

                .address {
                    span{
                        font-size: 18px;
                        color: aliceblue;
                    }     
                }
            }

            .hours{

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                gap: 5px;
            }

            .iframe-maps iframe{
                width: 600px;
                height: 515px;
                border-radius: 3px;
            }
        }

        .right-container {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: start;
            height: 100%;

            .gateway-image {
                height: 100%;
            }

            .gateway-image img{
                height: 100%;
                border-radius: 3px;
            }
        }
    }
}

@media screen and (max-width: 1440px) and (max-height: 768px) {
    #location-container {
        display: flex;
        width: 100%;
        flex-direction: column;
    
        align-items: center;
        justify-content: center;
    
        gap: 20px;
    
        .location-informations-container {
            height: 583px;

    
            .left-container {
                .iframe-maps iframe{
                    width: 500px;
                    height: 450px;
                    border-radius: 3px;
                }
            }
    
        }
    }
}

@media screen and (max-width: 768px) {

    #location-container {

        .location-informations-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 940px;
            width: 100%;
            gap: 10px;
            // border: 1px solid red;
    
    
            .left-container {
                height: 50%;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: end;
    
                .location-informations {
                    display: flex;

                    width: 100%;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 7px;
                    color: rgb(229, 230, 231);
                    background-color: rgba(0, 0, 0, 0.4823529412);
                    
                    span {
                        font-size: 30px;
                        color: aliceblue;
                        margin-top: 8px;
                    }
    
                    .address {
                        span{
                            font-size: 21px;
                            color: aliceblue;
                        }     
                    }
                }
    
                .hours{
    
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: start;
                    gap: 5px;

                    p{
                        font-size: 20px;
                    }
                }
    
                .iframe-maps iframe{
                    width: 100vw;
                    height: 300px;
                }
            }
    
            .right-container {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                align-items: center;
                // height: 100%;
    
                .gateway-image {
                    max-height: 488px;

                }
    
                .gateway-image img{
                    max-width: 390px;
                    max-height: 488px;
                    object-fit: contain;
                }
            }
        }
    }
}


