<div class="home-container">
    <header>
        <app-menu-bar></app-menu-bar>
    </header>

    <body>
        
        <app-initial-card></app-initial-card>
        <app-carousel-title></app-carousel-title>
        <app-carousel></app-carousel>
        
    </body>
    

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3755.0939543728878!2d-47.94053852401919!3d-19.751162432766073!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94bacfba0f867adf%3A0x97297114deb6bfae!2sLUTEM%20-%20LIGA%20UBERABENSE%20DE%20T%C3%8ANIS%20DE%20MESA!5e0!3m2!1spt-BR!2sbr!4v1717965004242!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>