<div id="container-menu-bar">

    <img src="../../../assets/logo-lutem.png" class="header-logo">

    <img src="../../../assets/menu.svg" alt="" class="header-menu" (click)="toggleMenu()">

    <ul>
        <li>
            <a href="#container-menu-bar">INICIO</a>
        </li>
        <li>
            <a href="#imagens">IMAGENS</a>
        </li>
        <li>
            <a href="#location-container">LOCALIZAÇÃO</a>
        </li>
        <li>
            <a href="#container_footer">CONTATO</a>
        </li>
    </ul>
</div>


<app-menu-overlay [isMenuOpen]="isMenuOpen"></app-menu-overlay>