.container-menu-bar {

    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
  
    position: sticky;
    z-index: 100;

    .header-logo {
      margin: 20px 20px 20px 100px;
      display: flex;
      width: 240px;
      height: 100%; 
      align-items: center; 
      margin-right: auto;
    }

    .header-menu {
      display: none ;
    }
  
    ul {
      margin: 1px solid blue;
      display: flex;
      flex-grow: 1;
      list-style-type: none;
      justify-content: start;
      margin-left: 4000px;
      gap: 60px;
      align-items: center;
      height: 100%; 
      margin-left: 100px;
      padding: 0;
      box-sizing: border-box; 
  
      li {
        a{
          font-size: 40px;
          cursor: pointer;
          color: black;
        }
      }
    }
}
  
@media screen and (max-width: 768px) {
  .container-menu-bar {
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-logo {
      margin: 10px;
      width: 88px;
      height: 74px; 
    }

    .header-menu{
      display: flex;
      width: 35px;
      height: 35px;
      margin-right: 20px;
    }

    ul {
      display: none;
    }
  }
}