<div id="container-initial-card">

    <div class="small-card">
        <div class="big-text">
            <p>EQUILÍBRIO FÍSICO,</p>
            <p>TREINOS TÁTICOS,</p>
            <p>DIVERSÃO</p>
        </div>

        <a href="https://wa.me//5534999717775?text=Ol%C3%A1%2C%20gostaria%20de%20mais%20detalhes%20para%20fazer%20uma%20aula%20experimental!
        " target="_blank">
            <span>COMEÇAR AGORA!</span>
            <img src="../../../assets/arrow.svg" alt="">
        </a>
    </div>
    
    <img class="initial-image" src="../../../assets/initial-image2.png" alt="">
</div>